extends layout


block content
  
		// Start Slider Part
		section.home-slider
			.tp-banner-container
				.tp-banner
					ul
						li(data-transition='zoomout', data-slotamount='2', data-masterspeed='1000', data-thumb='', data-saveperformance='on', data-title='Slide')
							img(src='images/images-dummy.png', alt='slidebg1', data-lazyload='images/slider1.jpg', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
							// LAYERS
							.tp-caption.very_large_text(data-x='center', data-hoffset='0', data-y='250', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
								| WE’RE 
								span LABOOM
								i Restaurant
							// LAYERS
							.tp-caption.medium_text(data-x='center', data-hoffset='0', data-y='340', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
								| Traditional Turkish Delicacies
							// LAYERS
							.tp-caption(data-x='center', data-hoffset='0', data-y='425', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
								a.button-white(href='#') Explore NOW
						li(data-transition='zoomout', data-slotamount='2', data-masterspeed='1000', data-thumb='', data-saveperformance='on', data-title='Slide')
							img(src='images/images-dummy.png', alt='slidebg1', data-lazyload='images/slider1.jpg', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
							// LAYERS
							.tp-caption.very_large_text(data-x='center', data-hoffset='0', data-y='250', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
								| WE’RE 
								span LABOOM
								i Restaurant
							// LAYERS
							.tp-caption.medium_text(data-x='center', data-hoffset='0', data-y='340', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
								| Traditional Turkish Delicacies
							// LAYERS
							.tp-caption(data-x='center', data-hoffset='0', data-y='425', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
								a.button-white(href='#') Explore NOW
						li(data-transition='zoomout', data-slotamount='2', data-masterspeed='1000', data-thumb='', data-saveperformance='on', data-title='Slide')
							img(src='images/images-dummy.png', alt='slidebg1', data-lazyload='images/slider1.jpg', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
							// LAYERS
							.tp-caption.very_large_text(data-x='center', data-hoffset='0', data-y='250', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
								| WE’RE 
								span LABOOM
								i Restaurant
							// LAYERS
							.tp-caption.medium_text(data-x='center', data-hoffset='0', data-y='340', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
								| Traditional Turkish Delicacies
							// LAYERS
							.tp-caption(data-x='center', data-hoffset='0', data-y='425', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='1000', data-start='500', data-easing='Back.easeInOut', data-endspeed='300')
								a.button-white(href='#') Explore NOW
		// End Slider Part
		// Start Welcome Part
		section#reach-to.welcome-part.home-icon
			.icon-default
				a.scroll(href='#reach-to')
					img(src='images/images-scroll-arrow.png', alt='')
			.container
				.build-title
					h2 Welcome To The La Boom
					h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.row
					.col-md-6.col-sm-6.col-xs-12.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
						p
							| Welcome. This is La Boom. Elegant & sophisticated restaurant template. Royal
							| plate offers different home page layouts with smart and unique design, showcasing
							| beautifully designed elements every restaurant website should have. Smooth
							| animations, fast loading and engaging user experience are just some of , the
							| features this template offers. So, give it a try and dive into a world of La Boom
							| restaurant websites.
						p
							img(src='images/images-signature.png', alt='')
						p
							a.btn-black(href='#') LEARN MORE
					.col-md-6.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
						img(src='images/images-img2.png', alt='')
			.float-main
				.icon-top-left
					img(src='images/images-icon1.png', alt='')
				.icon-bottom-left
					img(src='images/images-icon2.png', alt='')
				.icon-top-right
					img(src='images/images-icon3.png', alt='')
				.icon-bottom-right
					img(src='images/images-icon4.png', alt='')
		// End Welcome Part
		// Start Dishes Part
		section.dishes.banner-bg.invert.invert-black.home-icon.wow.fadeInDown(data-background='images/banner1.jpg', data-wow-duration='1000ms', data-wow-delay='300ms')
			.icon-default.icon-black
				img(src='images/images-icon5.png', alt='')
			.container
				.build-title
					h2 Welcome To The La Boom
					h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.slider.multiple-items
					.product-blog
						img(src='images/images-product1.png', alt='')
						h3 Quattro Formaggi
						p Pellentesque habitant morbi tristique senectus et netus et malesuada fames
						del $ 55.00
						strong.txt-default $ 18.00
					.product-blog
						img(src='images/images-product2.png', alt='')
						h3 Vegetarian Pasta
						p Pellentesque habitant morbi tristique senectus et netus et malesuada fames
						del $ 55.00
						strong.txt-default $ 18.00
					.product-blog
						img(src='images/images-product3.png', alt='')
						h3 Gluten-Free Pasta
						p Pellentesque habitant morbi tristique senectus et netus et malesuada fames
						del $ 55.00
						strong.txt-default $ 18.00
					.product-blog
						img(src='images/images-product1.png', alt='')
						h3 Quattro Formaggi
						p Pellentesque habitant morbi tristique senectus et netus et malesuada fames
						del $ 55.00
						strong.txt-default $ 18.00
					.product-blog
						img(src='images/images-product2.png', alt='')
						h3 Vegetarian Pasta
						p Pellentesque habitant morbi tristique senectus et netus et malesuada fames
						del $ 55.00
						strong.txt-default $ 18.00
					.product-blog
						img(src='images/images-product3.png', alt='')
						h3 Gluten-Free Pasta
						p Pellentesque habitant morbi tristique senectus et netus et malesuada fames
						del $ 55.00
						strong.txt-default $ 18.00
		// End Dishes Part
		// Start Feature list
		section.bg-skeen.feature-list.text-center.home-icon.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
			.icon-default.icon-skeen
				img(src='images/images-icon22.png', alt='')
			.container
				.build-title
					h2 Our Some Feature
					h6
						| The role of a good cook ware in the preparation of a sumptuous meal cannot be 
						br
						|  over
						|                             emphasized then one consider white bread
				.row
					.col-md-3.col-sm-6.col-xs-12
						.feature-list-icon
							.feature-icon-table
								img(src='images/images-img9.png', alt='')
						h5 Fresh Dishes
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-
					.col-md-3.col-sm-6.col-xs-12
						.feature-list-icon
							.feature-icon-table
								img(src='images/images-img10.png', alt='')
						h5 Various Menu
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-
					.col-md-3.col-sm-6.col-xs-12
						.feature-list-icon
							.feature-icon-table
								img(src='images/images-img11.png', alt='')
						h5 Well Service
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-
					.col-md-3.col-sm-6.col-xs-12
						.feature-list-icon
							.feature-icon-table
								img(src='images/images-img12.png', alt='')
						h5 Fast Delivery
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-
		// End Feature list

