extends layout


block content

    // Start Breadcrumb Part
    section.breadcrumb-part(data-stellar-offset-parent='true', data-stellar-background-ratio='0.5', style="background-image: url('images/breadbg1.jpg');")
        .container
            .breadcrumb-inner
                h2 Shop Cart
                a(href='/') Home
                span=title
    // End Breadcrumb Part
    section.home-icon.shop-cart.bg-skeen.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
        .icon-default.icon-skeen
            img(src='images/scroll-arrow.png', alt='')
        .container
            .checkout-wrap
                ul.checkout-bar
                    li.done-proceed Shopping Cart
                    li.done-proceed Checkout
                    li.active.done-proceed Order Complete
            .order-complete-box
                img(src='images/complete-sign.png', alt='')
                p
                    | Thank you for ordering in our restaurant. You will receive a confirmation email shortly.
                    br
                    |  Now check a Food Tracker progress with your order.
                a.btn-medium.btn-primary-gold.btn-large(href='/tracking') Go To Food Tracker
