extends layout

 
block content

    // Start Breadcrumb Part
    section.breadcrumb-part(data-stellar-offset-parent='true', data-stellar-background-ratio='0.5', style="background-image: url('images/breadbg1.jpg');")
        .container
            .breadcrumb-inner
                h2 SHOP SINGLE
                a(href='#') Home
                span Shop
    // End Breadcrumb Part
    section.home-icon.shop-single.pad-bottom-remove
        .icon-default
            img(src='images/images-scroll-arrow.png', alt='')
        .container
            .row
                .col-md-6.col-sm-6.col-xs-12.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
                    .slider.slider-for.slick-shop
                        div
                            img(src='images/images-img64.png', alt='')
                        div
                         
                    
                        
                .col-md-6.col-sm-6.col-xs-12.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
                    h4.text-coffee Caramel Cheesecake
                    p
                        | If you're planning to start an online store right away, look no further, get this
                        | template on templateForest. This product page demonstrates a "Simple Product".
                    h3.text-coffee $290.50
                    .price-textbox
                        span.minus-text
                            i.fas.fa-minus
                        input(type='text', name='txt', placeholder='1', pattern='[0-9]')
                        span.plus-text
                            i.fas.fa-plus
                    a.filter-btn.btn-large(href='#')
                        i.fas.fa-shopping-bag(aria-hidden='true')
                        |  Add to Cart
                    .share-tag
                        .row
                            .col-md-12.col-sm-12.col-xs-12
                                .social-wrap
                                    h5 SHARE
                                    ul.social
                                        li.social-facebook
                                            a(href='#')
                                                i.fab.fa-facebook(aria-hidden='true')
                                        li.social-tweeter
                                            a(href='#')
                                                i.fab.fa-twitter(aria-hidden='true')
                                        li.social-instagram
                                            a(href='#')
                                                i.fab.fa-instagram(aria-hidden='true')
                                        li.social-dribble
                                            a(href='#')
                                                i.fab.fa-dribbble(aria-hidden='true')
                                        li.social-google
                                            a(href='#')
                                                i.fab.fa-google(aria-hidden='true')
                            
        // Start Tab Part
        br
        br
        br
        br
        br
        br