extends layout

 
block content

    // Start Breadcrumb Part
    section.breadcrumb-part(data-stellar-offset-parent='true', data-stellar-background-ratio='0.5', style="background-image: url('images/breadbg1.jpg');")
        .container
            .breadcrumb-inner
                h2 SHOP CART
                a(href='/') Home
                span Cart
    // End Breadcrumb Part
    section.home-icon.shop-cart.bg-skeen
        .icon-default.icon-skeen
            img(src='images/scroll-arrow.png', alt='')
        .container
            .checkout-wrap.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
                ul.checkout-bar
                    li.active Shopping Cart
                    li Checkout
                    li Order Complete
            .shop-cart-list.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
                table.shop-cart-table
                    thead
                        tr
                            th PRODUCT
                            th PRICE
                            th QUANTITY
                            th TOTAL
                    tbody
                        tr
                            th PRODUCT
                            td
                                .product-cart
                                    img(src='images/img70.png', alt='')
                                .product-cart-title
                                    span Blanched Garlic
                            th PRICE
                            td
                                strong $59
                                del $5400.00
                            th QUANTITY
                            td
                                .price-textbox
                                    span.minus-text
                                        i.fas.fa-minus
                                    input(name='txt', placeholder='1', type='text')
                                    span.plus-text
                                        i.fas.fa-plus
                            th TOTAL
                            td $59
                            td.shop-cart-close
                                i.fas.fa-times
                .product-cart-detail
                    .cupon-part
                        input(type='text', name='txt', placeholder='Cupon Code')
                    a.btn-medium.btn-dark-coffee(href='#') Apply Coupon
                    a.btn-medium.btn-skin.pull-right(href='#') UPDATE cart
            .cart-total.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
                .cart-total-title
                    h5 CART TOTALS
                .product-cart-total
                    small Total products
                    span $140.00
                .product-cart-total
                    small Total shipping
                    span $15.00
                .grand-total
                    h5
                        | TOTAL 
                        span $140.00
                .proceed-check
                    a.btn-primary-gold.btn-medium(href='checkout') PROCEED TO CHECKOUT
